.basket-tov {
  padding: 0 10px;
  border: 1px solid @gray-lighter;
  background: @white;

  // &__wrapper {
  //   display: flex;
  //   flex-basis: 80%;
  // }

  &__img {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 155px;
    width: 100%;
  }

  &__tovar {
    position: relative;
    display: flex;
    padding: 10px 0px;

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: -10px;
      right: 0;
      width: calc(~"100% + 20px");
      height: 1px;
      background: @gray-lighter;
    }

    &:last-child {

      &::after {
        display: none;
      }
    }
  }

  &__title {
    font-size: @font-size--h3;
  }

  &__char {
    flex-basis: 60%;
    padding: 0 20px;
  }
}
