.basket-tot {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background: @white;
  padding: 10px 0px;
  border: 1px solid @gray-lighter;
  border-top: none;

  &__btn {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0 10px;

    a {
      margin: 5px 10px;
    }

    @media(min-width: @screen-md) {
      width: 70%;
      justify-content: flex-end;
    }
  }

  &__total {
    position: relative;
    padding-left: 10px;
    padding-right: 10px;
    // border-left: 1px solid @gray-lightest;
    margin-bottom: 0;
    color: @color-danger;
    text-align: center;
    font-size: 30px;

    .icon {
      fill: @color-danger;
    }

    @media(min-width: @screen-md) {
      width: 25%;
    }
  }

  @media(min-width: @screen-md) {
    justify-content: space-between;
  }
}
