.page {
  // background: url("img/pater-top.png") no-repeat top, @gray-lightest-2;
  // min-height: calc(~"100vh - 389px");
  // .padding-ident();

  &__container {
    &:extend(.container);
  }

  &__row {
    &:extend(.row);
  }

  &__back {
    display: block;
    color: @black;
    padding-left: 20px;
    margin-bottom: 7px;
    background: url("img/sprite/left-arrow.svg") no-repeat left;

    &:hover {
      color: inherit;
    }
  }

  &--no-vh {
    min-height: inherit;
  }
}
