.tovar-price {
  width: 100%;

  .add-btn {
    margin-left: inherit;
  }

  &__btn-group {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }

  @media(min-width: @screen-md) {
    border-left: 1px solid @gray-lightest;
    padding-left: 10px;
    width: 30%;
  }
}
